# Data Cleaning

Data set from [Air Quality Data in India (2015 - 2020)](https://www.kaggle.com/datasets/rohanrao/air-quality-data-in-india?select=city_day.csv)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('city_day.csv', parse_dates=['Date'])

In [8]:
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  datetime64[ns]
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: datetime64[ns](1), float64(13), object(2)
memory usage: 3.6+ MB

## Cleaning

In [10]:
missing_percentage = df.isnull().sum() / len(df) * 100
missing_percentage.sort_values(ascending=False)

Xylene        61.322001
PM10          37.723071
NH3           34.973418
Toluene       27.229014
Benzene       19.041008
AQI           15.851139
AQI_Bucket    15.851139
PM2.5         15.570079
NOx           14.171549
O3            13.619586
SO2           13.050692
NO2           12.139785
NO            12.129626
CO             6.972334
Date           0.000000
City           0.000000
dtype: float64

In [14]:
threshold = 40.0
cols_to_drop = missing_percentage[missing_percentage > threshold].index
print("\n" + "="*50)
print(f"Columns to DROP (>{threshold}% missing): \n {list(cols_to_drop)}")

==================================================
Columns to DROP (>40.0% missing):
 ['Xylene']

In [15]:
df = df.drop(columns=cols_to_drop)

In [ ]:

remaining_missing = df.isnull().sum()
cols_to_impute = remaining_missing[remaining_missing > 0].index
print(f"Columns to impute: {list(cols_to_impute)}")

for col in cols_to_impute:
    if pd.api.types.is_numeric_dtype(df[col]):
        # Impute with MEDIAN for numeric columns
        median_value = df[col].median()
        df[col].fillna(median_value, inplace=True)
        print(f"Filled column '{col}' with median: {median_value}")
    else:
        # Impute with MODE for categorical columns
        mode_value = df[col].mode()[0] 
        df[col].fillna(mode_value, inplace=True)
        print(f"Filled column '{col}' with mode: '{mode_value}'")

print("\n" + "="*50)
print("Total missing values remaining:", df.isnull().sum().sum())
print("Your data is now fully cleaned!")

Columns to impute: []

==================================================
Total missing values remaining: 0
Your data is now fully cleaned!

In [20]:
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,48.57,95.68,0.92,18.22,17.15,15.85,0.92,27.64,133.36,0.00,0.02,118.0,Moderate
1,Ahmedabad,2015-01-02,48.57,95.68,0.97,15.69,16.46,15.85,0.97,24.55,34.06,3.68,5.50,118.0,Moderate
2,Ahmedabad,2015-01-03,48.57,95.68,17.40,19.30,29.70,15.85,17.40,29.07,30.70,6.80,16.40,118.0,Moderate
3,Ahmedabad,2015-01-04,48.57,95.68,1.70,18.48,17.97,15.85,1.70,18.59,36.08,4.43,10.14,118.0,Moderate
4,Ahmedabad,2015-01-05,48.57,95.68,22.10,21.42,37.76,15.85,22.10,39.33,39.31,7.01,18.89,118.0,Moderate

In [21]:
df_clean = df.copy()

### Summary of Cleaning :

- columns below theshold (40%) are dropped
- rest, 
    - numeric columns are imputed with median
    - categorical col with mode

---

## Feature Engineering

In [23]:
df['Month'] = df['Date'].dt.month  
df['DayofWeek'] = df['Date'].dt.dayofweek
df['Is_Weekend'] = df['DayofWeek'].isin([5,6]).astype(int)

In [24]:
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,AQI,AQI_Bucket,Month,DayofWeek,Is_Weekend
0,Ahmedabad,2015-01-01,48.57,95.68,0.92,18.22,17.15,15.85,0.92,27.64,133.36,0.00,0.02,118.0,Moderate,1,3,0
1,Ahmedabad,2015-01-02,48.57,95.68,0.97,15.69,16.46,15.85,0.97,24.55,34.06,3.68,5.50,118.0,Moderate,1,4,0
2,Ahmedabad,2015-01-03,48.57,95.68,17.40,19.30,29.70,15.85,17.40,29.07,30.70,6.80,16.40,118.0,Moderate,1,5,1
3,Ahmedabad,2015-01-04,48.57,95.68,1.70,18.48,17.97,15.85,1.70,18.59,36.08,4.43,10.14,118.0,Moderate,1,6,1
4,Ahmedabad,2015-01-05,48.57,95.68,22.10,21.42,37.76,15.85,22.10,39.33,39.31,7.01,18.89,118.0,Moderate,1,0,0

In [25]:
def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Summer'
    elif month in [6, 7, 8, 9]:
        return 'Monsoon'
    else:
        return 'Post-Monsoon'
    
df['Season'] = df['Month'].apply(get_season)

In [26]:
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,AQI,AQI_Bucket,Month,DayofWeek,Is_Weekend,Season
0,Ahmedabad,2015-01-01,48.57,95.68,0.92,18.22,17.15,15.85,0.92,27.64,133.36,0.00,0.02,118.0,Moderate,1,3,0,Winter
1,Ahmedabad,2015-01-02,48.57,95.68,0.97,15.69,16.46,15.85,0.97,24.55,34.06,3.68,5.50,118.0,Moderate,1,4,0,Winter
2,Ahmedabad,2015-01-03,48.57,95.68,17.40,19.30,29.70,15.85,17.40,29.07,30.70,6.80,16.40,118.0,Moderate,1,5,1,Winter
3,Ahmedabad,2015-01-04,48.57,95.68,1.70,18.48,17.97,15.85,1.70,18.59,36.08,4.43,10.14,118.0,Moderate,1,6,1,Winter
4,Ahmedabad,2015-01-05,48.57,95.68,22.10,21.42,37.76,15.85,22.10,39.33,39.31,7.01,18.89,118.0,Moderate,1,0,0,Winter

In [27]:
epsilon = 1e-6

df['PM2.5_to_PM10_Ratio'] = df['PM2.5'] / (df['PM10'] + epsilon)

In [28]:
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,AQI,AQI_Bucket,Month,DayofWeek,Is_Weekend,Season,PM2.5_to_PM10_Ratio
0,Ahmedabad,2015-01-01,48.57,95.68,0.92,18.22,17.15,15.85,0.92,27.64,133.36,0.00,0.02,118.0,Moderate,1,3,0,Winter,0.50763
1,Ahmedabad,2015-01-02,48.57,95.68,0.97,15.69,16.46,15.85,0.97,24.55,34.06,3.68,5.50,118.0,Moderate,1,4,0,Winter,0.50763
2,Ahmedabad,2015-01-03,48.57,95.68,17.40,19.30,29.70,15.85,17.40,29.07,30.70,6.80,16.40,118.0,Moderate,1,5,1,Winter,0.50763
3,Ahmedabad,2015-01-04,48.57,95.68,1.70,18.48,17.97,15.85,1.70,18.59,36.08,4.43,10.14,118.0,Moderate,1,6,1,Winter,0.50763
4,Ahmedabad,2015-01-05,48.57,95.68,22.10,21.42,37.76,15.85,22.10,39.33,39.31,7.01,18.89,118.0,Moderate,1,0,0,Winter,0.50763

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City                 29531 non-null  object
 1   Date                 29531 non-null  datetime64[ns]
 2   PM2.5                29531 non-null  float64
 3   PM10                 29531 non-null  float64
 4   NO                   29531 non-null  float64
 5   NO2                  29531 non-null  float64
 6   NOx                  29531 non-null  float64
 7   NH3                  29531 non-null  float64
 8   CO                   29531 non-null  float64
 9   SO2                  29531 non-null  float64
 10  O3                   29531 non-null  float64
 11  Benzene              29531 non-null  float64
 12  Toluene              29531 non-null  float64
 13  AQI                  29531 non-null  float64
 14  AQI_Bucket           29531 non-null  object
 15  Month                29531 non-null  int32
 16  DayofWeek            29531 non-null  int32
 17  Is_Weekend           29531 non-null  int64
 18  Season               29531 non-null  object
 19  PM2.5_to_PM10_Ratio  29531 non-null  float64
dtypes: datetime64[ns](1), float64(13), int32(2), int64(1), object(3)
memory usage: 4.3+ MB

In [29]:
df_engineered = df.copy()

### Summary of Feature Engineering

- added columns for month, day_of_week and whether the day is a weekend.
- added column for season 
- added column for pm2.5 to pm10 ratio

In [31]:
df.to_csv('df_processed.csv', index=False)